<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <title>{{shop.name}} - {{page_title}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  
	{{ 'mootools.js'  | asset_url | script_tag }}
	{{ 'slimbox.js'   | asset_url | script_tag }}
	{{ 'slimbox.css'  | asset_url | stylesheet_tag }}
	
  {{ 'main.css'     | asset_url | stylesheet_tag }}
	{{ 'shop.js'      | asset_url | script_tag }}
	
  <!--[if IE 6]>
    {{ 'main_ie6.css'     | asset_url | stylesheet_tag }}
  <![endif]-->
  
  
	{{ 'sifr.js'   | asset_url | script_tag }}
	{{ 'swfobject.js'   | asset_url | script_tag }}
  
  
  <script type="text/javascript" charset="utf-8">
	
		sIFR.replaceElement(named({sSelector:"h1", sFlashSrc:"{{ 'dinbold.swf' | asset_url }}", sColor:"#000000", sWmode:"transparent", sFlashVars:'underline=true&textalign=left'}));
		sIFR.replaceElement(named({sSelector:"h3", sFlashSrc:"{{ 'dinbold.swf' | asset_url }}", sColor:"#000000", sWmode:"transparent", sFlashVars:'underline=true&textalign=left'}));		
				
	</script>
  
  {{ content_for_header }}
 </head>
 
<body id="page-{{template}}">
<p class="hide"><a href="#navigation">Skip to navigation.</a></p>
<div id="wrapper">
	<div class="content clearfix">	
	<div id="header">
		<div id='nav_container'>
			<div id='nav_bg_left'></div>
			<div id="nav">
				<div id='nav_topright'><a href='http://www.highroadsports.com/contact'>Contact Us</a> | <a href='http://www.highroadsports.com/galleries/1-Media-Access-Gallery'>Media Access Login</a></div>				
				<a id="logo" href="http://www.highroadsports.com/home"><span>Team Columbia</span></a>
				<div id='nav_buttons'>
					<div><a href="http://www.highroadsports.com/mission" id="nav-mission"><span>Who We Are</span></a></div>
					<div><a href="http://www.highroadsports.com/team" id="nav-team"><span>Team</span></a></div>
					<div><a href="http://www.highroadsports.com/news" id="nav-news"><span>News</span></a></div>
					<div><a href="http://www.highroadsports.com/races" id="nav-races"><span>Races</span></a></div>					
					<div><a href="http://www.highroadsports.com/partners" id="nav-partners"><span>Sponsors</span></a></div>
					<div><a href="http://www.highroadsports.com/mediaroom" id="nav-mediaroom"><span>Media Room</span></a></div>					
					<div><a href="http://highroad.myshopify.com/" id="nav-store"><span>Store</span></a></div>
					<div style='clear:both;'></div>
				</div>
			</div>
			<div id='nav_bg_right'></div>
		</div>
	</div>
    
    <div id='content'>
    
		<div id="left-col">
			<div id="navigation">
				<dl class="navbar">
				<dt>Navigation</dt>
				{% for link in linklists.main-menu.links %}
					<dd>{{ link.title | link_to: link.url }}</dd>
				{% endfor %}
				</dl>
				
				{% if tags %}
				<dl class="navbar">
				<dt>Tags</dt>
  				{% for tag in collection.tags %} 
					<dd>{{ tag | highlight_active_tag | link_to_tag: tag }}</dd>
  				{% endfor %}
  				</dl>
				{% endif %}
			</div>
		</div>
		<div id="right-col">
			{{ content_for_layout }} 
		</div>
	</div>
	</div>
    <div id="content-padding"></div>
</div>

  <form name="ccoptin" action="http://visitor.constantcontact.com/d.jsp" target="_blank" method="post">
	<div id="footer">
		<div class="copy">
		  
		  <div class="subscribe">
      <a href="http://www.highroadsports.com/feed.rss" class="rss">RSS Feed</a>
        
        <input type="hidden" name="m" value="1102142670529">
        <input type="hidden" name="p" value="oi">
        &bull; Or join our mailing list: Email <input type="text" name="ea" size="10" value="">
        <input type="submit" name="go" value="Join" class="submit">

        
  	  </div>
  	  &copy; 2008 Team Columbia &amp; High Road Sports, Inc.  Website by <a href="http://www.thrivesmart.com">ThriveSmart</a>.
  	</div>
	</div>  
  </form>



</body>
</html>
